<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
<div class="header">
  Manage <b>Campaigns</b>
</div>
<div >
  <mat-tab-group  class=" parentTable ">
  <mat-tab label="UPCOMING CAMPAIGNS">
    <app-upcoming-campaigns></app-upcoming-campaigns>
  </mat-tab>
  <mat-tab label="LIVE CAMPAIGNS">
    <app-live-campaigns></app-live-campaigns>
  </mat-tab>
  <mat-tab label="PAST CAMPAIGNS">
    <app-past-campaigns></app-past-campaigns>
  </mat-tab>
</mat-tab-group>
</div>

<!-- </div> -->


<!-- <router-outlet></router-outlet> -->
